<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Login</title>
</head>

<body>
    <form method="POST" action="/login_validar">
        <label for="usuario">Username:</label>
        <input type="text" name="usuario" id="usuario">
        <label for="senha">Password:</label>
        <input type="password" name="senha" id="senha">
        <label>Submit <input type="submit" value="enviar"></label>
    </form>

</body>

</html>